---
import LayoutVanilla from '../layouts/LayoutVanilla.astro';
import Card from '../components/Card.astro';
import InitialButton from '../components/InitialButton.astro';
---

<LayoutVanilla title="Alliexpress clone">

	<div class="grid grid-cols-9 grid-rows-7 gap-5 p-5">
		<div class="bg-gray-200 text-white col-span-2 row-span-2 min-h-52 flex flex-col justify-center gap-[10%] rounded-[36px]">
			<div class="flex justify-center gap-5 h-[30%]">
				<a href="" class="bg-slate-900 rounded-full w-[45%] items-center flex justify-center text-2xl">Regístrate</a>
				<a href="" class="invert bg-black rounded-full w-[45%] items-center flex justify-center text-2xl border-gray-300 border">Entrar</a>
			</div>
			<p class="text-center text-gray-950 text-lg font-sans">O continúa con</p>
			<div class="flex justify-around mx-24 gap-5">
				<a href=""><img class="size-[36px]" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" alt=""></a>
				<a href=""><img class="size-[36px]" src="https://www.svgrepo.com/show/303108/google-icon-logo.svg" alt=""></a>
				<a href=""><img class="size-[36px]" src="https://www.svgrepo.com/show/303115/twitter-3-logo.svg" alt=""></a>
				<a href=""><img class="size-[36px] bg-white rounded-full" src="https://www.svgrepo.com/show/494331/apple-round.svg" alt=""></a>
			</div>
		</div>
		<div class="bg-green-700 text-white col-span-3 row-span-7 min-h-48">Caja 2</div>
		<div class="bg-green-700 text-white col-span-4 row-span-4 min-h-48">Caja 3</div>
		<div class="bg-gray-200 text-white col-span-2 row-span-5 min-h-48">
			<div class="flex flex-col p-5 gap-3">
				<a href="" class="text-3xl text-red-600">Oferta de bienvenido</a>
				<p class="text-2xl text-gray-900">Tu precio exclusivo</p>
				<div class="">
					<img src="https://p2-ofp.static.pub/fes/cms/2022/06/13/zob6bk61blx2ew7ls80i0dirgeaxpr314653.jpg" alt="">
					<p>COP48,000.32 <s>COP60,500.43</s></p>					
				</div>
			</div>			
		</div>
		<div class="bg-green-700 text-white col-span-4 row-span-3 min-h-48">Caja 5</div>
	</div>

</LayoutVanilla>

<style>
</style>
