---
interface Props {
	title: string;
}

import { Icon } from "astro-icon/components";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-zinc-900 container max-w-full justify-center flex flex-wrap gap-1">
			<div class="container flex items-center">
				<!-- Valores arbitrarios -> class="h-[61px]" -->
				<img class="h-16" src="/public/aliexpress.webp" alt="" />
				<div class="relative w-3/4">
					<input class="w-full h-9 rounded-full pl-4 outline-none pr-14" type="text" placeholder="Buscar..."/>
					<div class="absolute right-1 top-[2px] bg-zinc-800 inline-block text-white rounded-2xl py-1 px-2">
						<Icon class="size-6" name="mdi:search" />
					</div>
				</div>
				<a href="" class="text-white flex items-center justify-center mx-3">
					<Icon class="size-7" name="mdi:qrcode" />
					<p class="w-24 text-xs">Descarga la app de AliExpress</p>
				</a>				
				<a href="" class="text-white flex items-center justify-center mx-3">
					<!-- <Icon class="size-7" name="mdi:person-outline" /> -->
					<Icon class="w-6 h-4" name="flagpack:co" />
					<!-- <img class="w-6 h-4" src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Colombia.svg" alt=""> -->
					<p class="text-xs">ES/<br />
						<span class="font-medium flex items-center">COP<Icon name="mdi:keyboard-arrow-down" /></span>						
					</p>
				</a>
				<a href="" class="text-white flex items-center mx-3 justify-center">
					<Icon class="size-7" name="mdi:person-outline" />
					<p class="text-xs w-40">
						¡Bienvenido! <br />
						<span class="font-medium flex items-center">
							Identifícate / Regístrate
							<Icon name="mdi:keyboard-arrow-down" />
						</span>						
					</p>
				</a>
				<a href="" class="text-white flex items-center right-0 mx-3 justify-center w-30">
					<Icon class="size-7" name="mdi:shopping-cart-outline" />
					<div class="">
						<p class="text-xs font-medium bg-white text-black rounded-xl w-6 text-center">
							0
						</p>
						<span class="text-xs font-medium">Cesta</span>
					</div>
				</a>
			</div>
			<!-- <div class="container flex justify-around text-white mb-2 items-center"> -->
			<div class="container flex justify-around text-white mb-4 items-center">
				<div class="group hover:bg-white hover:border-none hover:px-[17px] h-10 flex relative text-lg rounded-full border-[1px] text-center px-4">
					<menu class="group-hover:block hidden left-0 w-full top-5 bg-white text-black absolute">
						<div class="h-5 bg-white"></div>
						<ul class="rounded-b-2xl border-b-2 shadow-lg shadow-gray-200 max-h-36 overflow-x-hidden overflow-y-auto">
							<li class="hover:bg-slate-100 hover:font-bold left-0"><a href="">Opción 1</a></li>
							<li class="hover:bg-slate-100 hover:font-bold left-0"><a href="">Opción 2</a></li>
							<li class="hover:bg-slate-100 hover:font-bold left-0"><a href="">Opción 3</a></li>
							<li class="hover:bg-slate-100 hover:font-bold left-0"><a href="">Opción 4</a></li>
							<li class="hover:bg-slate-100 hover:font-bold left-0"><a href="">Opción 5</a></li>
							<li class="hover:bg-slate-100 hover:font-bold left-0"><a href="">Opción 6</a></li>
							<li class="hover:bg-slate-100 hover:font-bold left-0"><a href="">Opción 7</a></li>
							<li class="hover:bg-slate-100 hover:font-bold left-0"><a href="">Opción 8</a></li>
						</ul>
					</menu>
					<div class="flex items-center gap-2 group-hover:invert">
						<Icon class="" name="mdi:table-of-contents" />
						<p>Todas las categorías</p>
						<Icon class="group-hover:rotate-180" name="mdi:keyboard-arrow-down" />
					</div>
				</div>
				<a class="h-10 text-lg font-bold pt-[6px] text-red-500 hover:rounded-full px-4 hover:bg-gray-600" href="">+3 artículos desde US $2.99</a>
				<a class="h-10 text-lg pt-[6px] hover:rounded-full px-4 hover:bg-gray-600" href="">SuperOfertas</a>
				<a class="h-10 text-lg pt-[6px] hover:rounded-full px-4 hover:bg-gray-600" href="">Plaza</a>
				<a class="h-10 text-lg pt-[6px] hover:rounded-full px-4 hover:bg-gray-600" href="">Nuevo</a>
				<a class="h-10 text-lg pt-[6px] hover:rounded-full px-4 hover:bg-gray-600" href="">AliExpress Business</a>
				<div class="h-10 group text-lg relative flex justify-center flex-wrap items-center hover:rounded-full px-4 hover:bg-gray-600">
					<div class="flex justify-center flex-wrap items-center">
						<p>Más</p>
						<Icon class="group-hover:rotate-180" name="mdi:keyboard-arrow-down"/>
					</div>
					<div class="group-hover:block hidden w-48 h-full top-6 absolute">
						<div class="rotate-45 bg-white ml-[98px] mt-7 size-8"></div>	
					</div>				
					<menu class="group-hover:block hidden content-center min-w-48 top-[52px] bg-gray-50 shadow-lg shadow-gray-200 text-gray-600 absolute px-3 py-2 rounded">
						<ul>
							<li class="hover:bg-gray-400 hover:text-gray-50">Hogar y jardín</li>
							<li class="hover:bg-gray-400 hover:text-gray-50">Cabello y pelucas</li>
							<li class="hover:bg-gray-400 hover:text-gray-50">Moda hombre</li>
							<li class="hover:bg-gray-400 hover:text-gray-50">Accesorios</li>
							<li class="hover:bg-gray-400 hover:text-gray-50">Electrónica</li>
							<li class="hover:bg-gray-400 hover:text-gray-50">Hogar e iluminación</li>
							
						</ul>
					</menu>
				</div>
			</div>
		</div>

		<!-- <div class="advertisements">

		</div>
		<div class="optionButtons">

		</div>
		<div class="firstBuy">

		</div> -->
		<slot />
		Footer
	</body>
</html>
