---
interface Props {
	title: string;
}

import { Icon } from "astro-icon/components";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-zinc-900 container max-w-full justify-center flex flex-wrap gap-1">
			<div class="container flex items-center">
				<!-- Valores arbitrarios -> class="h-[61px]" -->
				<img class="h-16" src="/public/aliexpress.webp" alt="" />
				<div class="relative w-3/4">
					<input class="w-full h-9 rounded-full pl-4 outline-none pr-14" type="text" placeholder="Buscar..."/>
					<div class="absolute right-1 top-[2px] bg-zinc-800 inline-block text-white rounded-2xl py-1 px-2">
						<Icon class="size-6" name="mdi:search" />
					</div>
				</div>
				<a href="" class="text-white flex items-center gap-x-1 ml-5">
					<Icon class="size-7" name="mdi:qrcode" />
					<p class="w-24 text-xs">Descarga la app de AliExpress</p>
				</a>				
				<a href="" class="text-white flex items-center gap-x-1 mr-3">
					<!-- <Icon class="size-7" name="mdi:person-outline" /> -->
					<Icon class="w-6 h-4" name="flagpack:co" />
					<!-- <img class="w-6 h-4" src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Colombia.svg" alt=""> -->
					<p class="text-xs">ES/<br />
						<span class="font-medium flex items-center">COP<Icon name="mdi:keyboard-arrow-down" /></span>						
					</p>
				</a>
				<a href="" class="text-white flex items-center gap-x-1 ml-5">
					<Icon class="size-7" name="mdi:person-outline" />
					<p class="text-xs w-40">
						¡Bienvenido! <br />
						<span class="font-medium flex items-center">
							Identifícate / Regístrate
							<Icon name="mdi:keyboard-arrow-down" />
						</span>						
					</p>
				</a>
				<a href="" class="text-white flex items-center gap-x-1 ml-5 w-30">
					<Icon class="size-7" name="mdi:shopping-cart-outline" />
					<div class="">
						<p class="text-xs font-medium bg-white text-black rounded-xl w-6 text-center">
							0
						</p>
						<span class="text-xs font-medium">Cesta</span>
					</div>
				</a>
			</div>
			<!-- <div class="container flex justify-around text-white mb-2 items-center"> -->
			<div class="container flex justify-around text-white mb-2 items-center">
				<div class="group hover:bg-white h-10 flex relative text-lg rounded-full border-[1px] text-center px-4">
					<menu class="group-hover:block hidden left-0 w-full top-7 bg-white text-black absolute">
						<ul>
							<li>Opción 1</li>
							<li>Opción 2</li>
							<li>Opción 3</li>
						</ul>
					</menu>
					<div class="flex items-center gap-2 group-hover:invert">
						<Icon class="" name="mdi:table-of-contents" />
						<p>Todas las categorías</p>
						<Icon class="group-hover:rotate-180" name="mdi:keyboard-arrow-down" />
					</div>					
				</div>
				<a class="h-10 text-lg font-bold pt-[6px] text-red-500" href="">+3 artículos desde US $2.99</a>
				<a class="h-10 text-lg pt-[6px]" href="">SuperOfertas</a>
				<a class="h-10 text-lg pt-[6px]" href="">Plaza</a>
				<a class="h-10 text-lg pt-[6px]" href="">Nuevo</a>
				<a class="h-10 text-lg pt-[6px]" href="">AliExpress Business</a>
				<div class="h-10 group text-lg relative flex justify-center flex-wrap items-center">
					<div class="flex justify-center flex-wrap items-center">
						<p>Más</p>
						<Icon class="group-hover:rotate-180" name="mdi:keyboard-arrow-down"/>
					</div>
					<div class="group-hover:block hidden overflow-hidden w-48 h-10 top-6 absolute">
					</div>				
					<menu class="group-hover:block hidden content-center min-w-48 top-14 bg-zinc-900 absolute px-2 py-1 rounded">
						<ul>
							<li>Hogar y jardín</li>
							<li>Cabello y pelucas</li>
							<li>Moda hombre</li>
							<li>Accesorios</li>
							<li>Electrónica</li>
							<li>Hogar e iluminación</li>
						</ul>
					</menu>
				</div>
			</div>
		</div>
		<!-- <div class="advertisements">

		</div>
		<div class="optionButtons">

		</div>
		<div class="firstBuy">

		</div> -->
		<slot />
	</body>
</html>
